

@model List<List<QA_LISSummary.Models.XY_LABEL_CHARTS_STR>>
<br />
<div class="container">
    <form class="row g-3" action="@Url.Action("", "LISSPCDateSelect")">
        <div class="col-auto">
            <input type="date" class="form-control" name="startDate" value="@ViewBag.StartDate" />
        </div>
        <div class="col-auto align-self-center">:</div>
        <div class="col-auto">
            <input type="date" class="form-control" name="endDate" value="@ViewBag.EndDate" />
        </div>
        <input type="hidden" name="TaskNo" value="@ViewBag.TaskNo" />
        <input type="hidden" name="PageSelected" value="@ViewBag.Selected" />

        <div class="col-md-auto">
            <select class="form-select" name="DropDownS">
                <option value="@ViewBag.DropdownS" selected>
                    @(ViewBag.DropdownS == null ? "Please select part-test.." :
                      ViewBag.DropdownS == "ALL" ? "Part-Test" :
                      ViewBag.PartDesc)
                </option>
                @foreach (var str in ViewBag.Part_Array)
                {
                    <option value="@str.part">@str.part_desc (@str.part)</option>
                }
            </select>
        </div>

        @* Model dropdown, visible only for TaskNo 1205 *@
        @if (ViewBag.TaskNo == "1205")
        {
            <div class="col-md-auto">
                <select class="form-select" name="ModelName">
                    <option value="@ViewBag.DPModelName" selected>
                        @(ViewBag.DPModelName == null ? "Please select model.." :
                          ViewBag.DPModelName == "ALL" ? "ALL MODEL" :
                          ViewBag.DPModelName)
                    </option>
                    <option value="ALL">ALL</option>
                    @foreach (var str in ViewBag.Part_Models)
                    {
                        <option value="@str.PropertyValue">@str.PropertyValue</option>
                    }
                </select>
            </div>
        }

        <div class="col-md-auto">
            <select class="form-select" name="DPNMarket">
                <option value="@ViewBag.DPNMarket" selected>
                    @(ViewBag.DPNMarket == null ? "Please select market.." :
                      ViewBag.DPNMarket == "ALL" ? "ALL Market" :
                      ViewBag.DPNMarket)
                </option>
                <option value="ALL">ALL</option>
                @foreach (var str in ViewBag.Part_Markets)
                {
                    <option value="@str.PropertyValue">@str.PropertyValue</option>
                }
            </select>
        </div>

        <div class="col-md-auto">
            <button type="submit" class="btn btn-dark">OK</button>
        </div>
    </form>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card p-2 mb-2" style="min-height:650px; width:100%;">
                <div id="chart-liveCH1" class="flex-grow-1"></div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.UNIT2 != null)
{
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card p-2 mb-2" style="min-height:480px; width:100%;">
                    <div id="chart-liveCH2" class="flex-grow-1"></div>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-auto">
            <label>ALL</label>
            <table class="table table-bordered" style="width:300px;">
                <tbody>
                    <tr><th style="color:#808080;">STDV</th><td>@ViewBag.STDV</td></tr>
                    <tr><th style="color:#808080;">LSL</th><td>@ViewBag.LowerLim</td></tr>
                    <tr><th style="color:#808080;">USL</th><td>@ViewBag.UpperLim</td></tr>
                    <tr><th style="color:#808080;">AVG</th><td>@ViewBag.AVGX</td></tr>
                    <tr><th style="color:#808080;">SAMPLES</th><td>@ViewBag.SAMPLES</td></tr>
                    <tr><th style="color:#808080;">CP</th><td>@ViewBag.CP</td></tr>
                    <tr><th style="color:#808080;">CPU</th><td>@ViewBag.CPU</td></tr>
                    <tr><th style="color:#808080;">CPL</th><td>@ViewBag.CPL</td></tr>
                    <tr><th style="color:#808080;">CPK</th><td>@ViewBag.CPK</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
    var events = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));

    var DataQuery1 = events[0];
    var LabelS = events[1];
    var DataLine = events[2];
    var DataQuery2 = events[3];
    var DataQuery3 = events[4];

    let chartOptions = {
        caption: "@ViewBag.Selected @ViewBag.PartDesc (@ViewBag.DropdownS TASK: @ViewBag.TaskNo)",
        yaxisname: "@ViewBag.UNIT1",
        xaxisname: "Year: @ViewBag.EndDate.Substring(0,4)",
        yaxisminvalue: "@(Convert.ToDouble(ViewBag.LowerLim) - Convert.ToDouble(ViewBag.LowerLim)/70)",
        yaxismaxvalue: "@(Convert.ToDouble(ViewBag.UpperLim) + Convert.ToDouble(ViewBag.UpperLim)/70)",
        plotToolText: "Result: $yValue @ViewBag.UNIT1 <br> Date Tested: $xValue",
        valueFontColor: "#000000",
        valueBgColor: "#FFFFFF",
        valueBgAlpha: "50",
        xAxisLabelMode: "CATEGORIES",
        labelDisplay: "rotate",
        canvasPadding: "90",
        slantLabel: "1",
        theme: "fusion"
    };

    FusionCharts.ready(function () {
        new FusionCharts({
            type: 'zoomscatter',
            renderAt: 'chart-liveCH1',
            width: '100%',
            height: '100%',
            showChartLoadingMessage: false,
            dataFormat: 'json',
            dataSource: {
                chart: chartOptions,
                categories: [{ category: LabelS }],
                dataset: [
                    {
                        seriesname: "@ViewBag.PartDesc",
                        color: "0075c2",
                        anchorsides: "3",
                        anchorradius: "3",
                        anchorbgcolor: "0075c2",
                        anchorbordercolor: "0075c2",
                        data: DataQuery1
                    },
                    {
                        drawline: "1",
                        seriesname: "Mean connect line",
                        color: "009900",
                        anchorsides: "3",
                        anchorradius: "4",
                        anchorbgcolor: "D5FFD5",
                        anchorbordercolor: "009900",
                        data: DataLine
                    }
                ],
                trendlines: [
                    {
                        line: [
                            { startvalue: "@ViewBag.LowerLim", displayvalue: "Lower @ViewBag.LowerLim", linethickness: "2", color: "FF0000", dashed: "1", "valueonright": "1", dashgap: "5" },
                            { startvalue: "@ViewBag.UpperLim", displayvalue: "Upper @ViewBag.UpperLim", linethickness: "2", color: "FF0000", dashed: "1", "valueonright": "1", dashgap: "5" }
                        ]
                    }
                ]
            }
        }).render();

        if (DataQuery2 && DataQuery2 !== 'null' && DataQuery2 !== 'undefined') {
            let chartOptions2 = {
                caption: "Sub: @ViewBag.PartDesc @ViewBag.EndDate.Substring(0,4)",
                yaxisname: "@ViewBag.UNIT2",
                xaxisname: "Year: @ViewBag.EndDate.Substring(0,4)",
                yaxisminvalue: "-2",
                yaxismaxvalue: "2",
                plotToolText: "Result: $yValue @ViewBag.UNIT2 <br> Date Tested: $xValue",
                valueFontColor: "#000000",
                valueBgColor: "#FFFFFF",
                valueBgAlpha: "50",
                xAxisLabelMode: "CATEGORIES",
                labelDisplay: "rotate",
                canvasPadding: "90",
                slantLabel: "1",
                theme: "fusion"
            };

            new FusionCharts({
                type: 'zoomscatter',
                renderAt: 'chart-liveCH2',
                width: '100%',
                height: '100%',
                showChartLoadingMessage: false,
                dataFormat: 'json',
                dataSource: {
                    chart: chartOptions2,
                    categories: [{ category: LabelS }],
                    dataset: [{
                        seriesname: "@ViewBag.UNIT2",
                        color: "0075c2",
                        anchorsides: "2",
                        anchorradius: "2",
                        anchorbgcolor: "0075c2",
                        anchorbordercolor: "0075c2",
                        data: DataQuery2
                    }],
                    trendlines: [
                        {
                            line: [
                                { startvalue: "@ViewBag.LowerLim2", displayvalue: "Lower @ViewBag.LowerLim2", linethickness: "2", color: "FF0000", dashed: "1", "valueonright": "1", dashgap: "2" },
                                { startvalue: "@ViewBag.UpperLim2", displayvalue: "Upper @ViewBag.UpperLim2", linethickness: "2", color: "FF0000", dashed: "1", "valueonright": "1", dashgap: "2", }
                            ]
                        }
                    ]
                }
            }).render();
        }
    });
    </script>
}