@model List<List<QA_LISSummary.Models.XY_CHARTS_STR>>

<div class="container-fluid mt-3">
    <div class="row">

        <form class="row g-3" action="@Url.Action("", "GetCapaHisto")">

            <div class="col-auto">
                <input type="date" class="form-control" name="startDate" value="@ViewBag.StartDate" />
            </div>
            <div class="col-auto"> <label style="margin-top:6px"> : </label></div>
            <div class="col-auto">
                <input type="date" class="form-control" name="endDate" value="@ViewBag.EndDate" />

            </div>
            <input type="hidden" name="TaskNo" value="@ViewBag.TaskNo" />
            <input type="hidden" name="PageSelected" value="@ViewBag.Selected" />

            <div class="col-md-auto">

                <select class="form-select" aria-label=".form-select" name="DropDownS">
                    <option value="@ViewBag.DropdownS" selected>
                        @ViewBag.TypeFAN
                        @{
                            if (@ViewBag.DropdownS == null)
                            {
                                @Html.Raw("Please select part-test..");
                            }

                            else
                            { @Html.Raw("(") @ViewBag.DropdownS; @Html.Raw(")")}
                        }

                    </option>

                    @foreach (var str in ViewBag.Part_Array)
                    {
                        <option value="@str.part"> @str.part_desc </option>
                    }
                </select>
            </div>
            <div class="col-md-auto">
                <select class="form-select" aria-label=".form-select" name="DPNMarket">
                    <option value="@ViewBag.DPNMarket" selected>
                        @{
                            if (@ViewBag.DPNMarket == null)
                            {
                                @Html.Raw("Please select market..");
                            }
                            else
                                if (@ViewBag.DPNMarket == "ALL")
                            {
                                @ViewBag.DPNMarket;
                                @Html.Raw(" Market");
                            }
                            else
                            {
                                @ViewBag.DPNMarket;
                            }
                        }
                    </option>
                    <option value="ALL"> ALL </option>
                    @foreach (var str in ViewBag.Part_Markets)
                    {
                        <option value="@str.PropertyValue"> @str.PropertyValue </option>
                    }
                </select>
            </div>



            <div class="col-md-auto"> <button type="submit" class="btn btn-dark">OK</button> </div>
        </form>



        <div class="container-fluid mt-3">
            <div class="ms-0 row mb-2">


                <div class="card-body pt-1 pb-0">
                    <div class="row">

                        <text>

                            <div class="col-2 p-1 border border-1 rounded-1 position-relative bg-white d-flex flex-column" style="width: 1500px; margin: .08em .08em; min-height: 650px;">


                                <div id="@string.Concat("chart-live", "CH1")" class="flex-grow-1"></div>

                            </div>
                        </text>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-auto">

            <label> ALL</label>
            <table class="table table-bordered" style="width:300px;">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <th scope="row" style="color:#808080;">STDV</th>
                        <td>@ViewBag.STDV</td>

                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">LSL</th>
                        <td>@ViewBag.LowerLim</td>

                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">USL</th>
                        <td>@ViewBag.UpperLim</td>

                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">AVG</th>
                        <td>@ViewBag.AVGX</td>
                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">SAMPLES</th>

                        <td>@ViewBag.SAMPLES</td>
                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">CP</th>

                        <td>@ViewBag.CP </td>
                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">CPU</th>

                        <td>@ViewBag.CPU</td>
                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">CPL</th>
                        <td>@ViewBag.CPL</td>
                    </tr>
                    <tr>
                        <th scope="row" style="color:#808080;">CPK</th>
                        <td>@ViewBag.CPK</td>
                    </tr>

            </table>
        </div>


    </div>
</div>
@section scripts {
    <script>
        let chartW = '100%';
        let chartH = '100%';
        let chartOptions = {

            "caption": "@ViewBag.Selected @ViewBag.DropdownS TASK : @ViewBag.TaskNo",
            "yaxisname": "Amount",
            "xaxisname": "Values Tested",
            @*"xaxismaxvalue": "@ViewBag.TotalDays",*@
       //     "xaxisminvalue": "1",
         //   "xaxisminvalue": "10000",
       //     "yaxisminvalue": "1",
            //     "yaxismaxvalue": "1500",
            "sYAxisMaxValue": "50",
            "sXAxisMaxValue": "50",
            "theme": "fusion"

        };

        FusionCharts.ready(function () {
            let chartLiveDataObjs = [];




            @{
        <text>






            @*var events = @Html.Raw(Json.Encode(Model));*@
            var events =  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
    var FanPeak = events[0];
    var ColumnLimits = events[1];
    chartLiveDataObjs.push(new FusionCharts({
    type: 'zoomscatter',

    renderAt: '@string.Concat("chart-live", "CH1")',
    width: chartW, height: chartH,
    showChartLoadingMessage: false,
    dataFormat: 'json',
    dataSource: {
    chart: chartOptions,

    "dataset": [


    {
    "seriesName": "Reuslts Test",
    "color": "0087FF",
    "anchorbgcolor": "C6C6FF",
    "anchorbordercolor": "0087FF",
    "anchorsides": "1",
    "anchorradius": "1",
    "drawline": "1",
          "data": FanPeak


    },
    {

    "color": "009900",
    "seriesName": "Limits",
    "anchorsides": "7",
    "anchorradius": "7",
    "anchorbgcolor": "D5FFD5",
    "anchorbordercolor": "009900",
    "data": ColumnLimits
    }



    ]


    ,"vtrendlines": [
    {
    "line": [

    {
    "startvalue": "@ViewBag.LowerLim",
    "endvalue": "@ViewBag.UpperLim",
    "alpha": "15",
    "color": "00FF00"
    },
    {
    "startvalue": "0",
    "endvalue": "@ViewBag.LowerLim",
    "alpha": "15",
    "color": "FF0000"
    }
    ,
    {
    "startvalue": "@ViewBag.UpperLim",
    "endvalue": "@ViewBag.MaxY",
    "alpha": "15",
    "color": "FF0000"
    }
    ]
    }
    ],


    }}));
</text>

}

            chartLiveDataObjs.forEach((e) => e.render());


        });
    </script>
}
